<html>
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1461fd8b3b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>



<nav id="navbar-header" class="navbar navbar-expand-lg navbar-light sticky-top ">
        <i class="brand-icon fas fa-feather-alt fa-4x"></i>
        <a class="brand-name navbar-brand text-center font-weight-bold" href="#">Personal To Do Planer</a>
        <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class=" navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center font-weight-bold"><a class="nav-link" href="/">Dashboard</a></li>
                <li class="nav-item text-center font-weight-bold"><a class="nav-link" href="/work">Work</a></li>
                <li class="nav-item text-center font-weight-bold"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item text-center font-weight-bold"><a class="nav-link" href="/other">Others</a></li>
                
            </ul>
        </div>
    </nav>
   
</body>
</html>